---
const { text } = Astro.props;
---

<style>
  span {
    background: -webkit-linear-gradient(-70deg, #ffae00 0%, #ee2626 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
<span>{text}</span> 
