<section>
  <iframe
    title="twitter_report"
    width="1140"
    height="541.25"
    src="https://app.powerbi.com/reportEmbed?reportId=3e3dfdb6-31cb-4138-b6bf-47854a20d0f5&autoAuth=true&ctid=f885f0ed-d49b-47d8-a57b-46659c27da85"
    frameborder="0"
    allowfullscreen="true"></iframe>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }
</style>
