---
import GradiantText from "@components/GradiantText.astro";
import NavBar from "./NavBar.astro";
import Container from "./Container.astro";
---

<Container>
  <section>
    <header>
      <h1><GradiantText text={"ELECCIONES ESPAÑOLAS 2023"} /></h1>
    </header>
    <article>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id esse
        ipsam sit neque quod tenetur quo deserunt obcaecati quos facilis, porro
        eius voluptatum illum sed ipsa, est impedit vitae.
      </p>
      <span>( Los datos se acutlizan en tiempo real. Fuente: Twitter )</span>
    </article>
  </section>
</Container>

<style>
  h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
  }
  p {
    text-align: center;
  }
  span {
    display: flex;
    justify-content: center;
    font-size: 0.81em;
    color: rgb(73, 73, 73);
  }
</style>
